---
import Section from '@/components/Section.astro';
import Base from '@/layouts/Base.astro';
import { AppConfig } from '@/utils/AppConfig';

const { title } = AppConfig;
const { description } = AppConfig;
---

<Base head={{ title, description }}>
	<Section>
		<div class="text-sm">
			<p class="pt-6 text-4xl">About</p>

			<p class="pb-4 pt-10 text-2xl font-bold">Contact</p>
			<p>E-Mail: <a href="mailto:your@example.com">your@example.com</a></p>
			<p>
				Internet-Adress: <a class="underline" href="https://astro-tech-blog.pages.dev/"
					>https://astro-tech-blog.pages.dev/</a
				>
			</p>
		</div>
	</Section>
</Base>
